/*styles de base*/
*{
    padding: 0;
    margin: 0;
    font-family: var(--textfont);
    box-sizing: border-box;
}
body{
    font-size: var(--text);
    overflow-x: hidden;
    background-color: var(--graydark);
}
a {
    text-decoration: none;
    color: var(--tonic);
}
li {
    list-style-type: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0px 1rem;
}