/*index.php*/
.teams{
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;
}
.team_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

/*single-equipe.php*/
.team_page-img>img{
    width: 100vw;
    height: 100vw;
    object-fit: cover;
}
.team_infos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}
.team_infos-content{
    margin: 0px 1rem;
}
.team_members-list{
    margin: 0px 1rem;
}