.teams{
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll;
}
.team_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}