:root{
    /* Color styles */
    --dark: #302F30;
    --graydark: #555151;
    --graylight: #C9C7C6;
    --white: #ffffff;
    --tonic: #FFC522;

    /*Opacity styles*/
    --dark75: #302F3075;
    --graydark50: #55515150;
    --white75: #ffffff75;
    --white50: #ffffff50;
    --tonic75: #FFC52275;

    /*Font families*/
    --titlefont: 'Maven Pro';
    --textfont: 'Kdam Thmor Regular';
    --monofont: 'Kode Mono';

    /*Font sizes*/
    --title: 2rem;
    --subtitle: 1.25rem;
    --text: 0.875rem;
    --smalltext: 0.625rem;
    --mono: 0.75rem;
}